@media only screen and (min-width: 768px){
    body {
        text-align: center;
        margin: auto;
        background-color: #182c43;
    }

		.filler{
				width: 100%;
				height: 60px;
		}

    #header{
        background-color: #404040;
        position: fixed;
        top: 0;
        width: 100%;
        margin: auto;
        text-align: left;
        overflow: hidden;
        height: 60px;
    }

    #logo {
        float: left;
        position: relative;
        left: 7%;
        min-height: 20px;
        min-width: 50px;
        width: auto;
        height: inherit;
        overflow: hidden;
    }

    h1{
        font-size: 3em;
        letter-spacing: 10px;
    }
    h2{
        font-size: 2em;
        letter-spacing: 3px;
        margin-top: 0px;
    }
    .space-font{
        color: darkgray;
        text-align: center;
        font-family: 'lato',sans-serif;
        font-weight: bold;
        background: -webkit-linear-gradient(white, #5f6d7a);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }


    .topnav {
        float: right;
        height: inherit;
        position: relative;
        right: 7%;
    }

   .topnav a{
        float: left;
        display: block;
        color: #f2f2f2;
        margin: 18px 0px;
        padding: 5px 15px;
        text-decoration: none;
        font-size: 15px;
        height: auto;
        vertical-align: middle;
    }
    .topnav a.user-icon-container{
        height: auto;
        margin: 18px 0px 14px 0px;
        padding: 3.5px 15px;
        width: auto;
        font-size: 21px;
        text-align: center;

    }

    .topnav a:not(:first-of-type){
        border-left: 1px solid lightgray;
    }

    @keyframes enter-animation{
        from{
            right:-30%;
            background-color: transparent;
        }
        to{
            right: 9px;
        }
    }
    @-webkit-keyframes enter-animation{
        from{
            right:-30%;
            background-color: transparent;
        }
        to{
            right: 9px;
        }
    }

    @keyframes exit-animation{
        from{
            right: 9px;

        }
        to{
            right:-30%;
            background-color: transparent;
        }
    }
    @-webkit-keyframes exit-animation{
        from{
            right: 9px;
        }
        to{
            right:-30%;
            background-color: transparent;
        }
    }

    #user-div{
        position: fixed;
        height: 150px;
        width: 25%;
        top: 69px;
        right: -30%;
        float: right;
        background-color: #757575;
        border-radius: 5px;

    }

    .initial{
        display: none;
    }

    .enter-animation{
        -webkit-animation: enter-animation 1s;
        animation: enter-animation 1s;
        animation-fill-mode: forwards;
    }

    .exit-animation{
        -webkit-animation: exit-animation 1s;
        animation: exit-animation 1s;
        animation-fill-mode: forwards;
    }

    .topnav a:link{
    }
    .topnav a:visited{
    }

    .topnav a:hover{
        background: -webkit-linear-gradient(orange, lightgray);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .active{
        background: -webkit-linear-gradient(#5294e2, #85b4ea);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .topnav a.icon{
        display: none;
    }

    #login input.login-text{
        display: block;
        width: 70%;
        height: 20px;
        margin: 15px 15%;
        padding-bottom: 6px;
        border: none;
        border-bottom: #39679e 3px solid;
        background-color: transparent;
        text-align: center;
        color: black;
    }

    #login input.login-text::placeholder{
        color: black;
    }

    #login input.login-button{
        display: block;
        width: 30%;
        height: 30px;
        margin: 15px 35% 5px 35%;
        border: none;
        border-radius: 3px;
        vertical-align: middle;
    }

    .registration-link{
        font-family: "Impact", sans-serif;
        position: absolute;
        bottom: 1px;
        right: 2px;
        font-size: 12px;
        color: white;
    }
}
