@media only screen and (min-width: 768px){
    body {
        /*padding-top:60px;*/
        /*margin: auto;
        width:80%;*/
        margin:0;
        background-color: #ffffff;
       /* background-image: linear-gradient( white 75%, rgb(132, 132, 134))*/
    }

    .fade-body{
        animation: fade-body-animation;
        animation-fill-mode: forwards;
        animation-duration: 1s;
        pointer-events: none;
    }

    .unfade-body{
        animation: unfade-body-animation;
        animation-fill-mode: forwards;
        animation-duration: 1s;
        pointer-events: all;
    }

    #header_nav{
        /*background-color: #404040;*/
        position:relative;
        vertical-align: top;
        width: 100%;
        text-align: left;
        /*overflow: hidden;*/
        height: 180px;
        opacity: 1;
        z-index: 1;
        background-image: linear-gradient(to bottom right,rgb(71, 200, 243), rgb(39, 39, 90))
    }

    #logo {
        float: left;
        position: relative;
        left: 7%;
        min-height: 20px;
        min-width: 50px;
        width: auto;
        height: inherit;
        overflow: hidden;
    }

    #body-page
    {
        position: relative;
        top: 3em;
        width:80%;
        margin:auto;
    }

    #header_nav h1{
        position: absolute;
        bottom:0.5em;
        left:10%;
        font-size: 4.5em;
        letter-spacing: 5px;
        text-align:left;
        margin:auto;
        width:80%;
        font-family: 'lato', sans-serif;
        /*margin-top:2em;
        margin-bottom:2em;*/
        color:white;
        text-shadow: 2px 2px 2px black;
    }
    #presentation p{
        font-size: 1.5em;
        width:100%;
        margin: 0px;
        text-align:left;
        padding-left:1em;
        border-left: 2px solid rgb(81, 106, 190);
        color: rgb(78, 78, 78);
    }
    .space-font{
        
        /*text-align: center;*/
        font-family: 'lato', sans-serif;        
        margin-top:0;
        /*font-weight: bold;*/
        /*background: -webkit-linear-gradient(white, #5f6d7a);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;*/
    }

    #rockets dt
    {
        font-size:1.5em;
        padding-bottom: 0.5em;
        padding-top: 0.5em;
        padding-left:0.5em;
        font-family: 'lato', sans-serif;
        font-weight: bold;
        color:rgb(78, 78, 78);
        border: 3px solid rgb(78, 78, 78);
        border-radius: 0.3em;
        border-bottom-left-radius:0;
        border-bottom-right-radius:0;
    }

    #rockets dd
    {
        border: 3px solid rgb(78, 78, 78);
        border-top:none;
        border-radius:0.3em;
        border-top-left-radius: 0;
        border-top-right-radius:0;
        padding: 2em;
        display:inline-block;
        margin:0;
        margin-bottom:2em;
        position: relative;
    }

    #rockets dl
    {
        margin-top: 5em;
    }

    #rockets p
    {
        font-size:1em;
        font-family: 'lato', sans-serif;
        color: #404040;
        position: absolute;
        right:0;
        width:35%;
    }

    #rockets h1
    {
        color: rgb(78, 78, 78);
        font-family: 'lato', sans-serif;
        text-align:left;
        font-size:2.6em;
        margin:0;
    }

    .space-ship
    {
        width: 50%;
        float:left;
        overflow:auto;
    }

    .topnav {
        float: right;
        height: inherit;
        position: relative;
        right: 7%;
    }

    .topnav a 
    {
        text-decoration: none;
        color:white;
    }

    .topnav span.navbar-username{
        font-size: 15px;
        margin: 18px 0px;
        padding: 0px 5px;
        vertical-align: center;
    }
    .topnav a.user-icon-container{
        height: auto;
        margin: 18px 0px 14px 0px;
        padding: 3.5px 15px;
        width: auto;
        font-size: 21px;
        text-align: center;

    }

    .topnav ul li:not(:first-of-type){
        border-left: 1px solid lightgray;
    }

    .skip{
        position: fixed;
        height: 20px;
        top: -20px;
        width: 100%;
    }

    #skip a{
        width: 100%;
        max-height: 20px;
        text-align: center;
    }
    #user-div{
        position: fixed;
        height: 140px;
        width: 25%;
        top: 69px;
        right: -30%;
        float: right;
        background-color: #757575;
        border-radius: 5px;

    }

    .hide{
        display: none;
    }

    .initial{
        display: none;
    }

    .enter-animation{
        -webkit-animation: enter-animation 1s;
        animation: enter-animation 1s;
        animation-fill-mode: forwards;
    }

    .exit-animation{
        -webkit-animation: exit-animation 1s;
        animation: exit-animation 1s;
        animation-fill-mode: forwards;
    }

    .topnav ul
    { 
        list-style-type:none;
        margin-top:1em;
        margin-bottom:1em;
        padding:0;
        
    }

    .topnav li 
    {
        display:inline-block;
        height:1.5em;
        margin-left:0.5em;
        padding-left:0.5em;
    }
    .topnav a:visited{
    }

    .topnav ul li:not(:last-child) a:hover:before{
        /*background: -webkit-linear-gradient(orange, lightgray);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;*/
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
    .active{
        /*background: -webkit-linear-gradient(#5294e2, #85b4ea);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;*/
        /*pointer-events: none;*/
        color:white;
        font-weight: bold;
    }

    .topnav a.icon{
        display: none;
    }

    .topnav ul li  a
    {
        position:relative;
        padding-bottom:0.3em;
    }

    .topnav ul li:not(:last-child) a:before{
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: white;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
      }

    #scroll-back-btn{
        color: darkorange;
        font-size: 50px;
        display: none;
        border-style: hidden;
        border-radius: 10px;
        position: fixed;
        bottom: 30px;
        right: 30px;
    }

    #scroll-back-btn:hover{
        color: #b26200;
    }

    #login input.login-text{
        display: block;
        width: 70%;
        height: 20px;
        margin: 15px 15%;
        padding-bottom: 6px;
        border: none;
        border-bottom: #39679e 3px solid;
        background-color: transparent;
        text-align: center;
        color: black;
    }

    #login input.login-text::placeholder{
        color: black;
    }

    #login input.login-button{
        display: block;
        width: 30%;
        height: 30px;
        margin: 15px 35% 5px 35%;
        border: none;
        border-radius: 3px;
        vertical-align: middle;
    }

    .registration-link{
        font-family: "Arial", sans-serif;
        position: absolute;
        bottom: 1px;
        right: 2px;
        font-size: 12px;
        color: white;
    }


        #snack-div {
          visibility: hidden; 
          min-width: 250px;
          margin-left: -125px;
          background-color: #333;
          color: #fff;
          text-align: center;
          border-radius: 16px;
          padding: 10px;
          position: fixed;
          z-index: 1;
          left: 50%;
          bottom: 30px;
          font-size: 17px;
        }

        #snack-div.show {
            visibility: visible;
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }

        #snack-div.good{
          border-bottom: 3px green solid;
        }

        #snack-div.bad{
          border-bottom: 3px red solid;
        }

        #snack-img{
          display: block;
          width: 20%;
          float: left;
        }

        #snack-img.good{
          color: green;
        }

        #snack-img.bad{
          color: red;
        }

        #snack-msg{
          float: right;
          display: block;
          width: 80%;
        }


    #travel-list{
        margin:auto;
        margin-right:0;
        margin-left:0;
        
    }

    #mars-banner{
        background-image: url(../img/marte.jpg);

    }

    #earth-banner{
        background-image: url(../img/bg-travel-earth.jpg);

    }

    #pluto-banner{
        background-image: url(../img/plutone.jpeg);

    }

    #travels-title
    {
        color: rgb(78, 78, 78);
        font-family: 'lato', sans-serif;
        margin-bottom:2em;
        font-size:2.6em;
    }

    .travel-panel{
        display: inline-block;
        width: 100%;
        height: 20em;
        border-radius: 5px;
        background-color: bisque;
        overflow: hidden;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom:2em;
        position: relative;
    }

    .travel-panel h1
    {
        color:white;
        font-family: 'lato', 'sans-serif';
        position: absolute;
        left:1em;
        top:1em;
    }

    .travel-panel p
    {
        position: absolute;
        right:2em;
        top:1em;
        width:35%;
        color:white;
        text-align:justify;
        font-family: 'lato', 'sans-serif';

    }

    .travel-panel:hover{
        box-shadow: -3px -3px darkorange, 3px -3px darkorange, -3px 3px darkorange, 3px 3px darkorange, 0 0 50px black;
    }

    .travel-panel img{
        position: absolute;
        max-width: 100%;
        height: auto;
    }
/*
    CLASSI PER REGISTRAZIONE
*/

    #registration-div{
        background-color: aqua;
        width: 70%;
        height: auto;
        margin: 0 15%;
        overflow: hidden;
    }

    #required-fields{
        top: 0px;
        left: 0px;
        float: left;
    }

    #form-div{
        float: left;
        top: 30px;
    }

    .text-group{
        width: 70%;
        float: left;
        margin: 3px 15%;
    }

    .input-text{
      border: solid 1px lightgray;
      border-radius: 25px;
      width: 200px;
      height: 30px;
      padding: 0px 5px;
      text-align: center;
      background-color: #e9e9e9;
    }

    .input-text::placeholder{
      position: absolute;
      top: 0;
      left: 0;
    }

    .input-submit{
      border: solid 1px lightgray;
      border-radius: 3px;
      height: 30px;
      margin-top: 30px;
      width: 200px;
      background-color: lightgray;
    }

    .error{
        float: right;
    }

    #gender-select{
      height: 30px;
      width: auto;
      border: solid 1px lightgray;
      border-radius: 25px;
      margin-top: 5px;
    }

    .select-placeholder{
      color: darkgray;
    }
/*
    FINE CLASSI PER REGISTRAZIONE
*/

    #company-content
    {
        position:relative;
    }

    #company-content h1
    {
        color:rgb(78, 78, 78);
        font-family: 'lato', 'sans-serif';
        text-align:left;
        margin:auto;
        margin-bottom: 1.5em;
        text-shadow: none;
        font-size:2.6em;
    }

    #company-content p, #company-content img
    {
        display:inline-block;
        width:100%;
        margin:auto;
        overflow:auto;
        margin-bottom:5em;
    }

    #company-content p
    {
      color: rgb(78, 78, 78);
      text-align:left;
      width:39%;
      vertical-align: top;
      font-family: 'lato', 'sans-serif';
      font-size: 1.5em;
      margin-right: 1em;
    }

    #company-content img
    {
        width: 39%;
        margin: auto;
        height:auto;
        position: absolute;
        right:0;
        border: 3px solid grey;
    }

    #planet-layout h1
    {
      font-family: 'lato', 'sans-serif';
      color: rgb(78, 78, 78);
      text-align:left;
      font-size:2.6em;
      border-bottom: 2px solid rgba(255,255,255,0.5);
      margin:0;
      margin-bottom: 1em;
    }

    #planet-layout img, #planet-layout table
    {
      display: inline-block;
    }

    #planet-layout p
    {
        font-family: 'lato', 'sans-serif';
        color:rgb(78, 78, 78);
        ;
    }

    #planet-layout table th, #planet-layout table td
    {
        border: 2px solid rgb(78, 78, 78);
        color:rgb(78, 78, 78);
        font-family: 'lato', 'sans-serif';
    }

    #planet-layout th, #planet-layout td
    {
        padding:0.5em;
    }

    #planet-layout table
    {
        border-collapse: collapse;
        float:right;
    }

    #planet-layout img
    {
        border-right: 2px solid rgba(255,255,255,0.5);
        width:38%;
        vertical-align: top;
        margin-right: 2em;
    }
}
