@media only screen and (max-width: 768px) and (min-width: 595px){
    body {
        max-width: 1024px;
        text-align: center;
        margin: auto;
        background-color: darkslategrey;
    }

    #header{
        background-image: url(../img/bg-space.jpg);
        margin: auto;
        text-align: left;
        overflow: hidden;
    }

    #logo {
        float: left;
        min-height: 20px;
        min-width: 50px;
        width: 30%;
        height: auto;
        overflow: hidden;
    }

    h1{
        font-size: 3em;
        letter-spacing: 10px;
    }
    h2{
        font-size: 2em;
        letter-spacing: 3px;
        margin-top: 0px;
    }
    .space-font{
        color: #FFF;
        text-align: center;
        font-family: 'lato',sans-serif;
        font-weight: 300;
        background: -webkit-linear-gradient(white, #38495a);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .topnav {
        float: right;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    .active{
        background-color: gray;
    }

   .topnav a{
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
    .topnav a:link{
        color: white;
    }
    .topnav a:visited{
        color: #a9a9a9;
    }
    .topnav a:hover{
        background-color: dimgray;
    }

    .topnav a.icon{
        display: none;
    }
}