@media handheld, screen and (max-width: 594px) {

    body {
        max-width:100%;
        text-align: center;
        margin: auto;
    }

    #user-div{
        text-align:center;
        height: 19em;
        width: 100%;
        height: 100%;
        /*border: 3px solid lightgreen;*/
    }

    #user-div h1
    {
        color:white;
    }

    #left , #right
    {
        display:none;
    }

    #header{
        margin: auto;
        text-align: left;
        overflow: hidden;
    }

    #title
    {
        background-image: linear-gradient(to top, rgb(60, 48, 170), rgb(11, 11, 82));
        height:auto;
        line-height: 0;
        font-weight: bold;
        font-family: 'lato', sans-serif;
        color:white;
        text-shadow: 2px 2px 2px black;
        text-align: center;
    }

    #logo {
        visibility: hidden;
        height: 0px;
        width: 0px;
    }

    #title p{
        font-size: 3em;
        color:white;
        letter-spacing: 10px;
    }

    #title p, #title img
    {
        display: inline-block;
    }

    h2{
        font-size: 2em;
        letter-spacing: 3px;
        margin-top: 0px;
    }

    .

   .space-font{
        text-align: center;
        font-family: 'lato',sans-serif;
        font-weight: 300;
        /*background: -webkit-linear-gradient(white, #38495a);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;*/
    }

    #menuShowMobile {
      max-width: 100%;
      height:2em;
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: auto;
      background-color: #333;
      text-align: center;
      position: relative;
    }

    .fa-bars{
      color: white;
      font-weight: bold;
      position: absolute;
      bottom:25%;
    }

    .showMenu{
      -webkit-animation: showMenu 1s;
      animation: showMenu 1s;
      animation-fill-mode: forwards;
    }

    .hideMenu{
      -webkit-animation: hideMenu 1s;
      animation: hideMenu 1s;
      animation-fill-mode: forwards;
    }

    #menu {
        max-width: 100%;
        height:0;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: auto;
        background-color: #333;
    }

    .topnav li{
        margin:auto;
        display: inline-block;
    }

    .topnav-login{
      visibility: hidden;
      display: none;
    }

    .hide {
        display:none;
    }

    .topnav a{
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 12px;
        text-decoration: none;
        font-size: 17px;
    }

   /* .topnav a:not(:first-child) {
        display: none;
    }*/
    .topnav a.icon {
        float: right;
        display: block;
    }

    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    ul
    {
        outline: none;
        margin:0;
        padding:0;

    }
    .topnav .fa-bars
    {
        display:none;
    }

    .skip{
        position: fixed;
        height: 20px;
        top: -20px;
        width: 100%;
    }

    #skip-main
    {
        display: none;
    }

    #login
    {
        margin-bottom:1em;
    }

    .registration-link{
        color:white;
    }

    .registration-link a
    {
        text-decoration: underline;
        font-size: 1em;
        margin:auto;
        margin-top:1em;
        text-align:center;
        background-color: darkorange;
        border-radius: 5px;
        color:white;
        width:25%;
        float:none;
    }

    .user-icon-container
    {
        display:none;
    }

    .active{
        font-weight: bold;
        border-bottom: 3px solid darkorange;
    }

    .mySlides
    {
        height:auto;
        margin:0;
        /*position: relative;*/
    }

    .mySlides img
    {
        width:100%;
        height:100%;
    }

    .mySlides figcaption
    {
        width:100%;
        background-color: black;
        color: white;
        border-top: 5px solid white;
    }

    #skip-footer
    {
        display: none;
        padding-top: 3em;
        padding-bottom:1.5em;
    }

    #body-page, #scroll-back-btn
    {
        display:block;
    }

    #scroll-back-btn
    {
        padding-top:3em;
    }

    #company-content
    {
        padding:0 1em 0 1em;
    }

    #rockets
    {
        padding:0 1em 0 1em;
    }

    /*#rockets dd img
    {
        width:100%;
    }

    #rockets dt, #rockets dd
    {
        border:5px solid #333;
        border-radius: 5px;
    }

    #rockets dt
    {
        font-size: 2em;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    #rockets dd
    {
        margin:auto;
        border-top:none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        margin-bottom:2em;
    }
*/

.rocket-panel
{
    display: block;
    width: 90%;
    margin:auto;
    height: 30em;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom:2em;
    position: relative;
}

.rocket-panel h2
{
    color:white;
}

#millennium-banner
    {
        background-image: url(../img/millennium-balcon-bg.jpg);
    }

#starbooster-banner
    {
        background-image: url(../img/starbooster-bg.jpg);
    }

#arcasia-banner
    {
        background-image: url(../img/arcasia-bg.jpg);
    }

    #mercury-banner
    {
        background-image: url(../img/mercury_bg.jpg);
    }

    #venus-banner
    {
        background-image: url(../img/venus_bg.jpg);
    }

    #earth-banner
    {
        background-image: url(../img/earth_bg.jpg);
    }

    #moon-banner
    {
        background-image: url(../img/moon_mobile_bg.jpg);
    }

    #mars-banner
    {
        background-image: url(../img/marte.jpg);
    }

    #jupiter-banner
    {
        background-image: url(../img/jupiter_bg.png);
    }

    #io-banner
    {
        background-image: url(../img/io_bg.jpg);
    }

    #europa-banner
    {
        background-image: url(../img/europa_bg.jpg);
    }

    #saturn-banner
    {
        background-image: url(../img/saturn_bg.jpg);
    }

    #uranus-banner
    {
        background-image: url(../img/uranus_bg.jpg);
    }

    #neptune-banner
    {
        background-image: url(../img/neptune_bg.jpg);
    }

    #pluto-banner
    {
        background-image: url(../img/pluto_mobile_bg.jpg);
    }

    .travel-panel
    {
        display: block;
        width: 90%;
        margin:auto;
        height: 30em;
        border-radius: 10px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom:2em;
        position: relative;
    }

    .travel-panel h1
    {
        width:30%;
        margin:auto;
        text-decoration: none;
    }

    .travel-panel p
    {
        background-color: #333;
        position: absolute;
        bottom:0;
        margin:0;
        padding: 1em 1em 1em 1em;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    #travel-list
    {
        color:white;
    }

    .info-tile img
    {
        width:100%;
    }

    #info-content h1
    {
        margin-bottom: 1em;
    }

    .info-tile
    {
        display:inline-block;
        width:25%;
        margin: 0 1em 0 1em;
    }

    #info-text
    {
        display:none;
    }

    #info-text:target
    {
        display:block;
        position:fixed;
        width:60%;
        height:60%;
        top:20%;
        left:20%;
        background-color:white;
        border-radius:10px;
        box-shadow: 0px 0px 10px black;
   }

   #info-text h1
   {
       margin-top:0;
       width:100%;
       background-image: linear-gradient(to top, rgb(60, 48, 170), rgb(11, 11, 82));
       color:white;
       text-shadow: 2px 2px 2px black;
       border-top-left-radius:10px;
       border-top-right-radius:10px;
       border-bottom:3px solid orange;
   }

   #info-text a
   {
       position: absolute;
       top:5%;
       right:5%;
       color:white;
       text-shadow: 2px 2px 2px black;
       text-decoration:none;
       font-weight: bold;
       font-size:1.5em;
   }

   #info-text p
   {
       padding-left:5%;
   }
}
