.horizontal-scroll-wrapper {
  width: 100px;
  height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
    
    transform: rotate(-90deg);
  transform-origin: right top;
    
    transform:rotate(-90deg) translateY(-100px);
}

.horizontal-scroll-wrapper > div {
  width: 100px;
  height: 100px;
    
    transform: rotate(90deg);
  transform-origin: right top;
}